<div class="trait-value js-trait-value">
  <input class="js-value-id" type="hidden" name="{{this.id}}" value="{{this.id}}">
  <span class="delete-button">✖</span>
  <input class="js-value-name" name="{{this.value}}" type="text" value="{{this.value}}" required>
</div>
