<input type="hidden" value="{{trait}}" class="js-trait-id"/>
{{#each product}}
<div class="product-row">
  <label>
    <input class="js-assign-checkbox" type="checkbox" name="{{this.id}}" value="{{this.id}}" {{#if this.checked}}checked {{/if}}">
    {{this.name}}
  </label>
</div>
{{/each}}
<input type="submit" class="js-assigned-save"/>
